<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Concerts</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/favicon.ico" th:href="@{/img/core-img/favicon.ico}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/style.css}">
</head>
<body>
    <p>Concerts page</p>
</body>
</html>